**Uploading the data to google colab**

In [4]:
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

**Importing the needed libraries**

In [0]:
import time
import pandas as pd
import numpy as np
import datetime


CITY_DATA = { 'chicago': '/content/chicago.csv',
              'new york city': '/content/new_york_city.csv',
              'washington': '/content/washington.csv' }

Asking the user to specify a city, month, and day to analyze

In [0]:
def get_filters():
    """
    Asks user to specify a city, month, and day to analyze.
    Returns:
        (str) city - name of the city to analyze
        (str) month - name of the month to filter by, or "all" to apply no month filter
        (str) day - name of the day of week to filter by, or "all" to apply no day filter
    """

    print('Hello! Let\'s explore some US bikeshare data!')
    cities = ["chicago", "new york city", "washington"]
    months = ["january", "february", "march", "aprill", "may", "june", "july", "august", "septembe", "october", "november", "december", "all"]
    days = ["sunday", "monday", "tuesday", "wednesday", "thursday", "friday", "saturday", "all"]
    
    while True:
        city = input('Enter the City you want to analyze: ')
        if (city.lower() in cities):
            break
        else:
            print('invalid input, you must enter one of the cities')
        
   
    while True:
        month = input('Enter the Month you want to analyze: ')
        if(month.lower() in months):
            break
        else:
            print('invalid input, you must enter one of the months')
    
    
    
    while True:
        day = input('Enter the Day you want to analyze: ')
        if(day.lower() in days):
            break
        else:
            print('invalid input, you must enter one of the days')
       

    print('-'*40)
    return city, month, day

Loads data for the specified city and filters by month and day if applicable

In [0]:

def load_data(city, month, day):
    """
    Loads data for the specified city and filters by month and day if applicable.
    Args:
        (str) city - name of the city to analyze
        (str) month - name of the month to filter by, or "all" to apply no month filter
        (str) day - name of the day of week to filter by, or "all" to apply no day filter
    Returns:
        df - Pandas DataFrame containing city data filtered by month and day
    """
    if city == 'chicago':
        df = pd.read_csv('chicago.csv')
    elif city == 'new york city':
        df = pd.read_csv('new_york_city.csv')
    else:
        df = pd.read_csv('washington.csv')
        
    df['Start Time'] = pd.to_datetime(df['Start Time'])

    df['month'] = df['Start Time'].dt.month
    df['day_of_week'] = df['Start Time'].dt.weekday_name
    
    if month != 'all':
        months = ["january", "february", "march", "aprill", "may", "june", "july", "august", "septembe", "october", "november", "december"]
        month = months.index(month) + 1

        df = df[df['month'] == month]

    if day != 'all':
        df = df[df['day_of_week'] == day.title()]

        
    return df

Displays statistics on the most frequent times of travel

In [0]:
def time_stats(df):
    """Displays statistics on the most frequent times of travel."""

    print('\nCalculating The Most Frequent Times of Travel...\n')
    start_time = time.time()

    most_common_month = df['month'].value_counts().index[0]
    print("most common month is: {}".format('most_common_month'))
    print('-'*20)
    
    most_common_day = df['day_of_week'].value_counts().index[0]
    print("most common day is: {} ".format(most_common_day))
    print('-'*20)
    
    most_common_startHour = df['Start Time'].dt.hour.value_counts().index[0]
    print("most common start hour is: {}".format(most_common_startHour))
    print('-'*20)
    

    print("\nThis took %s seconds." % (time.time() - start_time))
    print('-'*40)

Displays statistics on the most popular stations and trip

In [0]:
def station_stats(df):
    """Displays statistics on the most popular stations and trip."""

    print('\nCalculating The Most Popular Stations and Trip...\n')
    start_time = time.time()

    most_common_startStation = df['Start Station'].value_counts().index[0]
    print("most common start station is: {}".format(most_common_startStation))
    print('-'*20)
    
    
    most_common_endStation = df['End Station'].value_counts().index[0]
    print("most common end station is: {}".format(most_common_endStation))
    print('-'*20)
    
    
    df['Start & End Station'] = df['Start Station'] + "-" + df['End Station']
    most_common_startEndStation = df['Start & End Station'].value_counts().index[0]
    print("most common start and end station is: {}".format(most_common_startEndStation))
    print('-'*20)
    
    
    print("\nThis took %s seconds." % (time.time() - start_time))
    print('-'*40)

Displays statistics on the total and average trip duration.

In [0]:

def trip_duration_stats(df):
    """Displays statistics on the total and average trip duration."""

    print('\nCalculating Trip Duration...\n')
    start_time = time.time()

    total = datetime.timedelta(seconds=int(df['Trip Duration'].sum()))
    print(" the total trip duration is: {}".format(total))
    print('-'*20)

    mean = datetime.timedelta(seconds=int(df['Trip Duration'].mean()))
    print("The avrage trip duration is: {}".format(mean))
    print('-'*20)
    

    print("\nThis took %s seconds." % (time.time() - start_time))
    print('-'*40)

Displays statistics on bikeshare users

In [0]:
def user_stats(df):
    """Displays statistics on bikeshare users."""

    print('\nCalculating User Stats...\n')
    start_time = time.time()

    number_of_users = df['User Type'].value_counts()
    print("nomber of uses is: {}".format(number_of_users))
    try:
        print(df['Gender'].value_counts())
    except:
        print('Data does not include genders')
    
    try:
        earliest_year = df['Birth Year'].min()
        most_recent_uear = df['Birth Year'].max()
        most_common_year = df['Birth Year'].value_count().index[0]
        print(earliest_year, most_recent_uear, most_common_year)
    except:
        print('Data does not include date of birth')
        

    print("\nThis took %s seconds." % (time.time() - start_time))
    print('-'*40)

In [39]:

while True:


  city, month, day = get_filters()
  df = load_data(city, month, day)

  time_stats(df)
  station_stats(df)
  trip_duration_stats(df)
  user_stats(df)
  show_more = 'yes'
  while show_more == 'yes':
      for i in df.iterrows():
          count = 0
          while count < 5:
              print(i)
              count += 1
          response = input('\nView 5 more data entries? Yes or No?\n')
          if response.lower() == 'no':
              show_more = 'no'
              break

  restart = input('\nWould you like to restart? Enter yes or no.\n')
  if restart.lower() != 'yes':
      break

Hello! Let's explore some US bikeshare data!
Enter the City you want to analyze: chicago
Enter the Month you want to analyze: all
Enter the Day you want to analyze: all
----------------------------------------

Calculating The Most Frequent Times of Travel...

most common month is: most_common_month
--------------------
most common day is: Tuesday
--------------------
most common start hour is: 17
--------------------

This took 0.08736538887023926 seconds.
----------------------------------------

Calculating The Most Popular Stations and Trip...

most common start station is: Streeter Dr & Grand Ave
--------------------
most common end station is: Streeter Dr & Grand Ave
--------------------
most common start and end station is: Lake Shore Dr & Monroe St-Streeter Dr & Grand Ave
--------------------

This took 0.2627089023590088 seconds.
----------------------------------------

Calculating Trip Duration...

 the total trip duration is: 3250 days, 19:56:27
--------------------
The avrage trip duration is: 0:15:36
--------------------

This took 0.0018265247344970703 seconds.
----------------------------------------

Calculating User Stats...

nomber of uses is: Subscriber    238889
Customer       61110
Dependent          1
Name: User Type, dtype: int64
Male      181190
Female     57758
Name: Gender, dtype: int64
Data does not include date of birth

This took 0.06359291076660156 seconds.
----------------------------------------
(0, Unnamed: 0                                                  1423854
Start Time                                      2017-06-23 15:09:32
End Time                                        2017-06-23 15:14:53
Trip Duration                                                   321
Start Station                                  Wood St & Hubbard St
End Station                                 Damen Ave & Chicago Ave
User Type                                                Subscriber
Gender                                                         Male
Birth Year                                                     1992
month                                                             6
day_of_week                                                  Friday
Start & End Station    Wood St & Hubbard St-Damen Ave & Chicago Ave
Name: 0, dtype: object)
(0, Unnamed: 0                                                  1423854
Start Time                                      2017-06-23 15:09:32
End Time                                        2017-06-23 15:14:53
Trip Duration                                                   321
Start Station                                  Wood St & Hubbard St
End Station                                 Damen Ave & Chicago Ave
User Type                                                Subscriber
Gender                                                         Male
Birth Year                                                     1992
month                                                             6
day_of_week                                                  Friday
Start & End Station    Wood St & Hubbard St-Damen Ave & Chicago Ave
Name: 0, dtype: object)
(0, Unnamed: 0                                                  1423854
Start Time                                      2017-06-23 15:09:32
End Time                                        2017-06-23 15:14:53
Trip Duration                                                   321
Start Station                                  Wood St & Hubbard St
End Station                                 Damen Ave & Chicago Ave
User Type                                                Subscriber
Gender                                                         Male
Birth Year                                                     1992
month                                                             6
day_of_week                                                  Friday
Start & End Station    Wood St & Hubbard St-Damen Ave & Chicago Ave
Name: 0, dtype: object)
(0, Unnamed: 0                                                  1423854
Start Time                                      2017-06-23 15:09:32
End Time                                        2017-06-23 15:14:53
Trip Duration                                                   321
Start Station                                  Wood St & Hubbard St
End Station                                 Damen Ave & Chicago Ave
User Type                                                Subscriber
Gender                                                         Male
Birth Year                                                     1992
month                                                             6
day_of_week                                                  Friday
Start & End Station    Wood St & Hubbard St-Damen Ave & Chicago Ave
Name: 0, dtype: object)
(0, Unnamed: 0                                                  1423854
Start Time                                      2017-06-23 15:09:32
End Time                                        2017-06-23 15:14:53
Trip Duration                                                   321
Start Station                                  Wood St & Hubbard St
End Station                                 Damen Ave & Chicago Ave
User Type                                                Subscriber
Gender                                                         Male
Birth Year                                                     1992
month                                                             6
day_of_week                                                  Friday
Start & End Station    Wood St & Hubbard St-Damen Ave & Chicago Ave
Name: 0, dtype: object)

View 5 more data entries? Yes or No?
Yes
(1, Unnamed: 0                                                       955915
Start Time                                          2017-05-25 18:19:03
End Time                                            2017-05-25 18:45:53
Trip Duration                                                      1610
Start Station                                       Theater on the Lake
End Station                                Sheffield Ave & Waveland Ave
User Type                                                    Subscriber
Gender                                                           Female
Birth Year                                                         1992
month                                                                 5
day_of_week                                                    Thursday
Start & End Station    Theater on the Lake-Sheffield Ave & Waveland Ave
Name: 1, dtype: object)
(1, Unnamed: 0                                                       955915
Start Time                                          2017-05-25 18:19:03
End Time                                            2017-05-25 18:45:53
Trip Duration                                                      1610
Start Station                                       Theater on the Lake
End Station                                Sheffield Ave & Waveland Ave
User Type                                                    Subscriber
Gender                                                           Female
Birth Year                                                         1992
month                                                                 5
day_of_week                                                    Thursday
Start & End Station    Theater on the Lake-Sheffield Ave & Waveland Ave
Name: 1, dtype: object)
(1, Unnamed: 0                                                       955915
Start Time                                          2017-05-25 18:19:03
End Time                                            2017-05-25 18:45:53
Trip Duration                                                      1610
Start Station                                       Theater on the Lake
End Station                                Sheffield Ave & Waveland Ave
User Type                                                    Subscriber
Gender                                                           Female
Birth Year                                                         1992
month                                                                 5
day_of_week                                                    Thursday
Start & End Station    Theater on the Lake-Sheffield Ave & Waveland Ave
Name: 1, dtype: object)
(1, Unnamed: 0                                                       955915
Start Time                                          2017-05-25 18:19:03
End Time                                            2017-05-25 18:45:53
Trip Duration                                                      1610
Start Station                                       Theater on the Lake
End Station                                Sheffield Ave & Waveland Ave
User Type                                                    Subscriber
Gender                                                           Female
Birth Year                                                         1992
month                                                                 5
day_of_week                                                    Thursday
Start & End Station    Theater on the Lake-Sheffield Ave & Waveland Ave
Name: 1, dtype: object)
(1, Unnamed: 0                                                       955915
Start Time                                          2017-05-25 18:19:03
End Time                                            2017-05-25 18:45:53
Trip Duration                                                      1610
Start Station                                       Theater on the Lake
End Station                                Sheffield Ave & Waveland Ave
User Type                                                    Subscriber
Gender                                                           Female
Birth Year                                                         1992
month                                                                 5
day_of_week                                                    Thursday
Start & End Station    Theater on the Lake-Sheffield Ave & Waveland Ave
Name: 1, dtype: object)

View 5 more data entries? Yes or No?
No

Would you like to restart? Enter yes or no.
no